body {
  margin: 0;
  font-family: sans-serif;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.box {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 15px;
  color: white;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

button {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  background: #00c6ff;
  border: none;
}

.dash {
  padding: 20px;
  background: #0b1c2c;
  min-height: 100vh;
  color: white;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.green { background: green; }
.yellow { background: orange; }
.red { background: red; }
