body {
  margin: 0;
  font-family: sans-serif;
}

/* LOGIN */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.box {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 15px;
  color: white;
  text-align: center;
}

button {
  margin: 10px;
  padding: 12px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: #00c6ff;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  height: 100vh;
  background: #0b1c2c;
  color: white;
  padding: 20px;
}

/* MAIN */
.main {
  flex: 1;
  padding: 20px;
  background: #f4f6f9;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  color: white;
}

.green { background: green; }
.yellow { background: orange; }
.red { background: red; }

/* TABLE */
.table-box {
  margin-top: 30px;
}

table {
  width: 100%;
  background: white;
  border-radius: 10px;
}

td, th {
  padding: 10px;
}

/* HR PAGE */
.dash {
  padding: 20px;
}
